@import "../../../scss/utils/config";

.peopleList {
  width:260px;
  float: left;
  .search {
    padding: 20px;
  }

  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }

  .fa-search {
    position: relative;
    left: -25px;
  }

  ul {
    padding: 9px 15px;
    height: 300px;
    color: $white;
    li {
      padding-bottom: 12px;
    }
  }

  img {
    float: left;
  }

  .about {
    margin-top: 8px;
    color: $white;
    display: flex;
    transition: all .3s ease-in-out;
    padding: .4rem;
    border-radius: 4px;
    &:hover {
      background: rgba($light-gray, .24);
    }
  }
  .info{
    align-self: center;
    padding-left: .3rem;
  }
  .status {
    color: $gray;
    display: block;
  }
  .loading {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
}

